
.header-container{
  width: 100%;
  background-color: burlywood;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.hearder-logo{
  width: 40%;
}

.logo{
  width: 40%;
  padding: 15px;
  margin-left: 10px;
}

.header-titulo{
  width: 40%;
  margin-top: 15px;
}

.productos-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.tablaProductos-container{
  width: 50%;
  background-color: honeydew;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
}

.ultimoProducto-container{
  width: 50%;
  background-color: silver;
}

.tablaProductos{
  width: 80%;
  background-color: gray;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

.tarjetas-tablaProducto{
  width: 40%;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: aquamarine; 
  border: 1px solid salmon;
}


h1{
  color: black;
}

.titulo-centrado{
  margin:auto;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 5px;
}

h2{
  color: blue;
}

.dashboard-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.tarjetas-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

.tarjeta{
  
  width: 35%;
  margin: auto;
  background-color: grey;   
  border-left: 10px solid violet;

}

.tarjeta-contenido{
  padding: 10px;
  line-height: 5px;
}

.clientes-container{
  width: 100%;
}

.tablaClientes-container{
  width: 80%;
  margin:auto;
}

table{
  width: 70%;
  margin: auto;
  border: 2px solid gray;
  text-align: center;
}

th{
  border: 2px solid gray;
}

td{
  border: 2px solid gray; 
  padding: 4px;
}


.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
